@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --sb-track-color: transparent;
  --sb-thumb-color: transparent;
  --sb-size: 2px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

html {
  @apply font-mono;
  font-size: 18px;
}

body,
body div {
  @apply scroll-smooth;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.9s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

body:has(.dark-mode-active) {
  /* opacity: 0.15; */

  .main_header,
  .dark_dim {
    opacity: 0.15;

    &:focus-within {
      opacity: 1 !important;
    }
  }

  @apply bg-blend-multiply bg-black;
}

body:has(.is_idle) .main_header {
  display: none;
}
